#jogo{
    background-color: rgb(15, 181, 223);
    margin-bottom: 100px;
    width: 800px;
    margin-top: -180px;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0px 0px 5px grey;
}

#jogo>form>h2{
    color: white;
    font-size: 30px;
    margin-bottom: 35px;
    text-shadow: 1px 1px 1px grey;
}

#num{
    font-size: 20px;
    padding: 5px;
    margin-bottom: 40px;
    width: 750px;
    border-radius: 5px;
}

#jogar{
    width: 750px;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: rgb(29, 29, 129);
    color: white;
    text-shadow: 1px 1px 1px grey;
}

#result{
    color: rgb(41, 72, 139);
    text-shadow: 1px 1px 1px rgb(189, 187, 187);
    background-color: white;
    padding: 30px;
    padding-top: 50px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px grey;
}